@charset "UTF-8";
		table{
			text-align: center; width: 100%;
		}
		th{
			color: #818381; height:60px;
		}
		td{
			height:60px;
		}
		.con2{
			padding-top: 18px; padding-bottom: 17px;
		}
		.bb{
			font-size: 0.75em; color:#818381;
		}
		.con1{
			padding-top: 17px; width:400px;
		}
		/* 핸드폰사이즈 */
		@media screen and (max-width: 599px) {
			.con1{
				width:100px;
			}
		}